{% extends "design/base.html" %}

{% block content %}
<div class="card">
  <img class="card-img-top" src="/static/img/contactus.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">
        <hr>
        <div class="col text-center">
        <h4 class="lead">Email: VIpvt.ltd@gmail.com</h4><br>
        <h4 class="lead">Phone: +044 40405667/50504667</h4><br>
        <h4 class="lead">Address: New york City, 145,Redmond,Washington, United States</h4>
        </div>
        <hr>
    <p>
  </div>
</div>
{% endblock  %}