{% extends "design/base.html" %}

{% block content %}
<div class="row text-center">
    <div class="col-12">
        <p class="lead">Executive Officer's</p>
    </div>
</div>
    <div class='row text-center'>
        <div class="card col-12 col-md-6 col-lg-4">
            <div class="card">
                <img class="card-img" src="/static/img/bill.jpg" alt="Card image">
            </div>
            <div class="card p-3 text-right">
                <blockquote class="blockquote mb-0">
                    <p>Bill gates</p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                            <b>Founder</b> <cite title="Source Title">of the company</cite>
                        </small>
                    </footer>
                </blockquote>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-4">
            <div class="card">
                <img class="card-img" src="/static/img/Nadella-Satya.jpg" alt="Card image" height="350">
            </div>
            <div class="card p-3 text-right">
                <blockquote class="blockquote mb-0">
                    <p>Nadella</p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                            <b>Cheif Executive Officer(CEO)</b> <cite title="Source Title">of the company</cite>
                        </small>
                    </footer>
                </blockquote>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-4">
            <div class="card">
                <img class="card-img" src="/static/img/Amy-Hood.jpg" alt="Card image" height="350">
            </div>
            <div class="card p-3 text-right">
                <blockquote class="blockquote mb-0">
                    <p>Amy Hood</p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                            <b>Chief Financial Officer (CFO)</b> <cite title="Source Title">of the company</cite>
                        </small>
                    </footer>
                </blockquote>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-4">
            <div class="card">
                <img class="card-img" src="/static/img/Rajiv-Sodhi-profile.jpg" alt="Card image" height="350">
            </div>
            <div class="card p-3 text-right">
                <blockquote class="blockquote mb-0">
                    <p>Rajiv Sodhi</p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                            <b>Chief Operating Office (COO)</b> <cite title="Source Title">of the company</cite>
                        </small>
                    </footer>
                </blockquote>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-4">
            <div class="card">
                <img class="card-img" src="/static/img/jimdubois.jpg" alt="Card image" height="350">
            </div>
            <div class="card p-3 text-right">
                <blockquote class="blockquote mb-0">
                    <p>Jim DuBois</p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                            <b>Chief Information Officer (CIO)</b> <cite title="Source Title">of the company</cite>
                        </small>
                    </footer>
                </blockquote>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-4">
            <div class="card">
                <img class="card-img" src="/static/img/Chris-Capossela.jpg" alt="Card image" height="350"> 
            </div>
            <div class="card p-3 text-right">
                <blockquote class="blockquote mb-0">
                    <p>Chris Capossela</p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                           <b>Chief Marketing Officer (CMO)</b><cite title="Source Title">of the company</cite>
                        </small>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
    {% endblock  %}