{% extends "design/base.html" %}

{% block content %}
<div class="row text-center">
    <div class="col-12">
        <p class="lead">Our Premium Products</p>
    </div>
  
</div>
<div class="row text-center">
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/8gbram.jpg" alt="Card image cap" height="250">
    <div class="card-body">
        <h5 class="card-title"><b>HyperX Fury 8GB</b></h5>
        <p class="card-text">(3200MHz DDR4 CL16 DIMM 1Rx8 Black XMP Desktop Memory)<br>Price:₹ 3,290.00 </p>
        <a href="https://www.amazon.in/HyperX-3200MHz-Desktop-Memory-HX432C16FB3/dp/B07WJJ9CNG/" class="btn btn-primary">Buy now</a>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/16gbram.jpg" alt="Card image cap" height="250">
    <div class="card-body">
        <h5 class="card-title"><b>Corsair Vengeance RGB Pro 16GB</b></h5>
        <p class="card-text">((1x16GB) DDR4 3200 (PC4-25600) C16 Optimized for
                AMD Ryzen – Black)<br> Price:₹ 7,295.00</p>
        <a href="https://www.amazon.in/Corsair-Vengeance-1x16GB-PC4-25600-Optimized/dp/B08D6H22Y3/" class="btn btn-primary">Buy now</a>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/1tb-sata-ssd.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>Seagate FireCuda 120 SSD 1TB</b></h5>
        <p class="card-text">(Internal Solid State Drive – SATA 6Gb/s 3D TLC for
                Gaming PC Laptop (ZA1000GM10001))<br>Price:₹ 17,499.00</p>
        <a href="https://www.amazon.in/Seagate-FireCuda-Internal-Solid-State/dp/B088GDXKP3/" class="btn btn-primary">Buy now</a>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/1tb-ssd.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>Seagate Barracuda 120 SSD 1TB Internal Solid State Drive</b></h5>
        <p class="card-text">(2.5 Inch SATA 6Gb/s for
                Computer Desktop PC Laptop (ZA1000CM1A003))<br>Price:₹ 11,499.00</p>
        <a href="https://www.amazon.in/Seagate-Barracuda-Internal-Solid-State/dp/B07ZPRJFV1/" class="btn btn-primary">Buy now</a>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/1tb-hhd.jpg" alt="Card image cap" height="250">
    <div class="card-body">
        <h5 class="card-title"><b>Seagate BarraCuda 1 TB Internal Hard Drive HDD</b></h5>
        <p class="card-text"> (.5 Inch SATA 6 Gb/s 7200 RPM 64
                MB Cache for Computer Desktop PC (ST1000DM010))<br>Price: ₹ 3,407.00</p>
        <a href="https://www.amazon.in/Seagate-BarraCuda-ST1000DM010-Desktop-Latest/dp/B01LNJBA2I/" class="btn btn-primary">Buy now</a>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/1tb-sata-hhd.jpg" alt="Card image cap" height="250">
    <div class="card-body">
        <h5 class="card-title"><b>Western Digita 1TB Internal Hard Drive</b></h5>
        <p class="card-text">( WD10EZEX Desktop (Blue))<br>Price: ₹ 3,200.00</p>
        <a href="https://www.amazon.in/Western-Digital-WD10EZEX-Internal-Desktop/dp/B0088PUEPK/" class="btn btn-primary">Buy now</a>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/modem.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>TP-LINK TD-W8961N Wireless N300 ADSL2+ Wi-Fi Modem Router</b></h5>
        <p class="card-text">(2x 5dBi Omni directional Fixed antennas, Input ISPs supported,(RJ-11 Port))<br>Price:₹ 1,279.00</p>
        <a href="https://www.amazon.in/TP-LINK-TD-W8961N-300Mbps-Antenna-Wireless/dp/B00RK5VU5M/" class="btn btn-primary">Buy now</a>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/modems.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>TP-Link Archer C1200 Dual Band Gigabit Wireless Cable Router</b></h5>
        <p class="card-text"> (Wi-Fi Speed Up to
                867 Mbps/5 GHz + 300 Mbps/2.4 GHz, 4 Gigabit LAN Ports, 1 USB Port, Broadcom Chipset)<br>Price:₹ 2,549.00</p>
        <a href="https://www.amazon.in/TP-Link-Archer-C1200-Gigabit-Wireless/dp/B01IUDUJE0/" class="btn btn-primary">Buy now</a>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/wifi-divice.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>Netgear Orbi RBK50</b></h5>
        <p class="card-text"> (Tri Band Mesh WiFi System (White))<br>Price:₹ 24,775.00</p>
        <a href="https://www.amazon.in/Netgear-Orbi-RBK50-System-White/dp/B01K4CZOBS/" class="btn btn-primary">Buy now</a>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/wifi.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>D-Link DWA-131 Wireless N</b></h5>
        <p class="card-text"> (Nano USB Adapter (Black))<br>Price:₹ 589.00</p>
        <a href="https://www.amazon.in/D-Link-DWA-131-Wireless-Adapter-Black/dp/B002PD61Y4/" class="btn btn-primary">Buy now</a>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/switch.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>Ambrane WiFi Smart Plug 10A</b></h5>
        <p class="card-text"> (Control Your Devices from Anywhere, No Hub Required,
                Compatible with Alexa and Google Assistant (ASP-10, White))<br>Price:₹ 899.00</p>
        <a href="https://www.amazon.in/Ambrane-WiFi-Smart-Plug-10A/dp/B0819RVZ12/" class="btn btn-primary">Buy now</a>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/switchs.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>A N ENTERPRISE® 3 Port HDMI 4 K 1.4V Version Switch Splitter</b></h5>
        <p class="card-text"> (Pigtail Cable
                for Fire Stick, Xbox One, PS3, 4, TV (Black))<br>Price: ₹ 549.00</p>
        <a href="https://www.amazon.in/ENTERPRISE%C2%AE-Version-Switch-Splitter-Pigtail/dp/B083GZHWKC/" class="btn btn-primary">Buy now</a>
    </div>
    </div>
</div>
{% endblock  %}